.vr-container {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  width: 100%;
  padding: 0;
}

.vr-receipt-table {
  width: 100%;
}

.vr-header {
  text-align: center;
  padding: 2px 0;
}

.vr-store {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.vr-address {
  font-size: 14px;
  margin: 0;
}

.vr-invoice {
  font-weight: bold;
}
.vr-cashier {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.45);
  padding: 2px 0;
}

.vr-receipt-table-header-container {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.45);
  padding: 2px 0;
}

.vr-receipt-table-header,
.vr-receipt-row {
  display: grid;
  grid-template-columns: 1.5fr 1.4fr 0.2fr;
  gap: 2px;
  font-size: 14px;
}

.vr-item-name {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vr-totals-printout {
  border-top: 1px dashed rgba(0, 0, 0, 0.45);
  margin-top: 1px;
  padding-top: 1px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.vr-footer-receipt {
  border-top: 1px dashed rgba(0, 0, 0, 0.45);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.45);
  margin-top: 2px;
  padding: 3px 0;
  font-size: 16px;
}
