.container-receipt-viewing {
  font-family: "Times New Roman", Times, serif;
  font-size: 11px;
}

.cashier-viewing-transaction {
  border-bottom: 1px dashed black;
  padding: 2px 0;
  font-size: 1rem;
}

.receipt-table-header-container-viewing {
  border-bottom: 1px dashed black;
  padding: 2px 0;
}

.receipt-table-header-viewing,
.receipt-row-vewing {
  display: grid;
  grid-template-columns: 1.5fr 1.4fr 0.2fr;
  gap: 2px;
  font-size: 1rem;
}

.item-name-viewing {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.totals {
  border-top: 1px dashed black;
  margin-top: 1px;
  padding-top: 1px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.footer-receipt-viewing {
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  margin-top: 1px;
  padding: 3px 0;
  font-size: 1rem;
}
