.rolling-number {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: fit-content;
}

.digit-wrapper {
  position: relative;
  overflow: hidden;
}

.digit-strip {
  display: flex;
  flex-direction: column;
}

.digit {
  text-align: center;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

.digit-static {
  text-align: center;
  padding-right: 3px;
  display: flex;
  align-items: center;
  transition: color 0.5s ease;
}
