.container-receipt {
  font-family: "Times New Roman", Times, serif;
  font-size: 11px;
  width: 220px !important; /* 58mm roll ≈ 220px printable */
  padding: 0;
}

.header {
  text-align: center;
  padding: 2px 0;
}

.store {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}

.address {
  font-size: 10px;
  margin: 0;
}

.invoice {
  font-weight: bold;
}
.cashier {
  border-bottom: 1px dashed black;
  padding: 2px 0;
}

.receipt-table-header-container {
  border-bottom: 1px dashed black;
  padding: 2px 0;
}

.receipt-table-header,
.receipt-row {
  display: grid;
  grid-template-columns: 1.5fr 1.4fr 0.2fr;
  gap: 2px;
  font-size: 10px;
}

.item-name {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.totals-printout {
  border-top: 1px dashed black;
  margin-top: 1px;
  padding-top: 1px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}


.footer-receipt {
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  margin-top: 2px;
  padding: 3px 0;
  font-size: 11px;
}

/* ==== PRINT STYLE ==== */
@page {
  size: 58mm auto; /* exact paper width, height flexible */
  margin: 0; /* remove default margins */
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .container-receipt {
    width: 220px !important;
    margin: 0 auto;
  }

  .receipt-table-header,
  .receipt-row {
    font-size: 10px;
  }

  .store {
    font-size: 13px;
    font-weight: bold;
  }

  .address {
    font-size: 10px;
  }
}
